LinalColloc03.aux
DefinicionClases.sty
LinalColloc03.fdb_latexmk
LinalColloc03.fls
LinalColloc03.loe
LinalColloc03.log
LinalColloc03.out
LinalColloc03.synctex.gz
LinalColloc03.toc
LinalColloc03.upa
LinalColloc03.upb
LinalColloc03.pdf
LinalColloc03 2.synctex.gz
LinalColloc03 3.synctex.gz